.footer-menu>li:first-child {
    display : block;
}

.footer-menu > li {
    float : none;
    width: 100%;
    margin-top : 10px;
}


.gallery-wrap .gallery-item {
    width: 32.8%;
    margin-right: 0.8%;
    float: left;
    max-height: 250px;
    overflow: hidden;
    margin-bottom: 10px;
    position: relative;
}

.gallery-wrap .gallery-item:nth-child(3n) {
    margin-right: 0;
}

.gallery-wrap .gallery-item .gallery-detail {
    position: absolute;
    bottom: -50px;
    right: 0;
    left: 0;
    z-index: 2;
    background: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 4px 10px;
    -webkit-transition: ease 0.25s;
    -moz-transition: ease 0.25s;
    -o-transition: ease 0.25s;
    transition: ease 0.25s;
}

.gallery-wrap .gallery-item .gallery-detail a {
    color: #fff;
}

.gallery-wrap .gallery-item .gallery-detail a:hover {
    color: #32c5d2 !important;
}

.gallery-wrap .gallery-item:hover .gallery-detail {
    bottom: 0;
}

.gallery-wrap .gallery-item .gallery-detail .gallery-title {
    text-transform: uppercase;
    font-weight: bold;
}

.gallery-wrap .gallery-item .img-wrap {
    overflow: hidden;
}

.gallery-wrap .gallery-item .img-wrap img {
    width: 100%;
}